# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Production
dist/
build/
.expo/
.expo-shared/

# Misc
.env
.env.local
.env.*.local
.DS_Store
*.pem
*.key
.vscode/settings.json

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
